body{
    background-color: #f2efe3;
    margin:50px;
}
.mem{
    background-color: #f2efe3;
    width: 150px;
    height:50px;
}
.nav1{
    display: flex;
    justify-content:space-between;
}
.edittext{
    font-size: 30px;
}
.mains{
    display:flex;
    justify-content: space-between;
    padding-bottom: 50px;
}
.edittext2{
    font-size: 70px;
    font-style: italic;
}
.miss{
    display: flex;
    justify-content: space-between;
}
.miss1{
    padding-right: 60px;
}
.edittext4{
    font-size: 40px;
}
.miss1{
   padding-top: 100px;
}
.help{
    display: flex;
    justify-content: space-between;
}
.help1{
    padding-right: 150px;
    padding-top: 150px;
    text-align: center;
}