body{
    background-color: #f2efe3;
    margin:50px;
}
.mem{
    background-color: #f2efe3;
    width: 150px;
    height:50px;
}
.nav1{
    display: flex;
    justify-content:space-between;
}
.edittext{
    font-size: 30px;
}
.mains{
    display:flex;
    justify-content: space-between;
    padding-bottom: 50px;
}
.edittext2{
    font-size: 70px;
    font-style: italic;
}