body{
    background-color: #f2efe3;
    margin:50px;
}
.mem{
    background-color: #f2efe3;
    width: 150px;
    height:50px;
}
.nav1{
    display: flex;
    justify-content:space-between;
}
.edittext{
    font-size: 30px;
}