body {
    background: #F2EFE3;
    height: 1000px;
    border: 1px solid blue;
}

.test {
    text-align: center;
    border: 1px solid red;
    margin-left: 550px;
    margin-right: 550px;
    background-color: white;
}

@media screen {}

.screening {
    font-style: italic;
    font-size: 15px;
}

.conditions {
    font-style: italic;
    font-size: 15px;
}

.mental {
    display: flex;
}

.health {
    min-width: 150px;
    min-height: 30px;
    margin: 10px;
}


/* button {
    height: 30px;
    width: 200px;
    border: none;
    background: #808080;
} */


/* .footer {
    display: flex;
    align-items: flex-end;
} */